apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  selector:
    matchLabels:
      app: mysql
  replicas: 1
  serviceName: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:latest
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: db_pass # Replace with a secure password
            - name: MYSQL_DATABASE
              value: simple_social_db
            - name: MYSQL_USER
              value: db_user
            - name: MYSQL_PASSWORD
              value: db_pass # Replace with a secure password
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          ports:
            - containerPort: 3306
              name: mysql
          livenessProbe:
              exec:
                command:
                  - sh
                  - -c
                  - mysqladmin ping -h${POD_IP} -p${MYSQL_PASSWORD}
                  
              initialDelaySeconds: 30
              periodSeconds: 10
              timeoutSeconds: 10
          readinessProbe:
              exec:
                command:
                  - sh
                  - -c
                  - mysqladmin ping -h${POD_IP} -p${MYSQL_PASSWORD}
                
              initialDelaySeconds: 5
              periodSeconds: 5
              timeoutSeconds: 1
          volumeMounts:
            - name: db-data
              mountPath: /var/lib/mysql
  volumeClaimTemplates: 
    - metadata:
        name: db-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 1Gi
          